.vagrant/
configs/development.config.php
configs/development.config.php.dist
configs/db.config.php
configs/redis.configs.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache
logs/
data/reflec_cache/
data/zf_acl/
data/system/
# public/uploads/
data/log_login/
data/cache/
.gitignore
phpcs.xml
phpunit.xml.dist
psalm.xml
Vagrantfile
renovate.json
configs/autoload/*.dist